.vid-area {
  display: flex;
  gap: 20px;
}

.vid-area .vid {
  position: relative;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  background-color: gray;
}

.vid-area .vid .vid-player {
  height: 100%;
  width: 100%;
}

.vid-area .vid p {
  top: 0;
  left: 0;
  position: absolute;
}

.options {
  width: 550px;
}
